<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Likes and Dislikes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <style>
      .container {
        font-family: "Tahoma", sans-serif;
        text-align: center;
        border: 2px;
        border-style: dotted;
        border-color: black;
        width: 50%;
        padding: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="margin-bottom: 100px">
        Created by Vishruth Devan for the Go Plus Inc. Internship Assignment
      </h1>
      <img
        id="likebtn"
        src="https://www.freeiconspng.com/uploads/youtube-like-button-png-11.png"
        style="cursor: pointer; float: left; width: 300px"
        alt="Like Button"
      />
      <img
        id="dislikebtn"
        src="https://www.freeiconspng.com/uploads/black-and-white-youtube-dislike-21.png"
        style="cursor: pointer; float: right; width: 300px"
        alt="Dislike Button"
      />
      <div style="clear: both; height: 50px"></div>
      <div style="float: left" class="likes">
        <h2>Number of Likes = <span id="likes">{{ likes }}</span></h2>
      </div>
      <div style="float: right" class="dislikes">
        <h2>Number of Dislikes = <span id="dislikes">{{ dislikes }}</span></h2>
      </div>
    </div>
  </body>
  <script>
    let likes = parseInt(document.getElementById("likes").innerHTML);
    let dislikes = parseInt(document.getElementById("dislikes").innerHTML);
    document.getElementById("likebtn").addEventListener("click", () => {
      likes++;
      $.ajax({
        type: "POST",
        url: "/like/",
        data: { likes: likes },
        success: function (response) {
          $("#likes").text(response["likes"]);
        },
      });
    });
    document.getElementById("dislikebtn").addEventListener("click", () => {
      dislikes++;
      $.ajax({
        type: "POST",
        url: "/dislike/",
        data: { dislikes: dislikes },
        success: function (response) {
          $("#dislikes").text(response["dislikes"]);
        },
      });
    });
  </script>
</html>
